:root {
    --main-background: #16181E;
    --light-element: #292C36;
    --dropxout: #181B21;
    --button-bg: #3E424C;
    --progress-bar: #42F693;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--main-background);
    margin: 0;
}

.title_1941 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    background-color: var(--light-element);
    border-radius: 0 0 10px 10px;
}

.main_container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 10px;
}

.dropxout {
    height: calc(100vh - 124px);
    width: 400px;
    border-style: dashed;
    border-color: #fff5;
    border-width: 5px;
    border-radius: 10px;
    background-color: var(--dropxout);
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.dropxout:hover {
    background-color: var(--light-element);
    cursor: pointer;
}

.dropxout.dragover {
    border-color: #fff;
    background-color: var();
}

.files_container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 134px);
    width: 100%;
    background-color: var(--light-element);
    border-radius: 10px;
    border-color: #363944;
    border-style: solid;
    border-width: 0;
    padding: 10px;
}

ul {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
}

ul::-webkit-scrollbar {
    width: 8px;
}

ul::-webkit-scrollbar-thumb {
    background: var(--progress-bar);
    border-radius: 4px;
}

ul::-webkit-scrollbar-thumb:hover {
    filter: brightness(0.8);
}

li {
    background-color: var(--button-bg);
    color: #fff;
    height: 50px;
    min-height: 50px;
    border-radius: 10px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    padding-right: 10px;
    margin-right: 55px;
}

li:hover {
    background-color: #3261E2;
}

.copy-btn {
    background-color: var(--button-bg);
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -55px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #3261E2;
}

.copy-btn.copied {
    background-color: green !important;
}

.files_container * {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    gap: 5px;
}

#progress-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--light-element);
    height: 24px;
}

#progress-bar {
    height: 100%;
    width: 0;
    background: var(--progress-bar);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}