@media screen and (max-width: 768px) {

    #username,
    #password {
        background-color: var(--light-element);
        border: 2px solid var(--button-bg);
        border-radius: 5px;
        padding: 12px 16px;
        font-size: 16px;
        color: #fff;
        transition: 0.3s ease;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width: calc(100% - 15px);
        height: 50px;
    }

    #username:focus,
    #password:focus {
        outline: none;
        border-color: var(--progress-bar);
    }

    [value="Login"] {
        position: fixed;
        border: 2px solid var(--accent-color);
        background-color: #00f;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        border-radius: 5px;
        bottom: 10px;
        width: calc(100% - 15px);
        height: 50px;
    }
}