<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ban.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ban_mobile.css') }}">
    <title>Access Denied</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <img src="/static/icons/logo.ico" class="icon_1941">
            <div class="title_1941">Ban</div>
        </header>
        <div class="ban_gif_container">
            <div class="ban_gif"></div>
        </div>
    </div>
</body>

</html>